In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-05-15 16:04:20--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.102.29
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.102.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2022-05-15 16:04:20 (8,97 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265